.sticks {
    margin-top: 20px;
    width: 50%;
    height: 100px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(224, 167, 247);
}
.sticks-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.one-of-sticks {
    width: 200px;
    height: 200px;
    background-image: url('../images/paper.png');
    background-size:contain;
    margin-top: 20px;
    cursor: pointer;
}
.sticksText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
.stickers-anim {
    animation: 1.5s;
    animation-name: stick-animation;
    box-sizing: border-box;
}

@keyframes stick-animation {
    0% {
        border: 3px solid white
    }
    25% {
        border: 3px solid red
    }
    50% {
        border: 3px solid white
    }
    75% {
        border: 3px solid red
    }
}
.win-anim {
    animation: 1.5s;
    animation-name: win-animation;
    box-sizing: border-box;
}

@keyframes win-animation {
    0% {
        border: 3px solid green
    }
    33% {
        border: 3px solid white;
    }
    66% {
        border: 3px solid green
    }
}
.stats-sticks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
}